* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  #home {
  /* background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1); */
  display: flex;
  align-items: center;
}

#image1 {
  height: 670px;
  width: 600px;
}

#hamburger {
  height: 30px;
  position: absolute;
  right: 20px;
}

#lorem > h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
  margin-left: 80px;
  position: relative;
  bottom: 100px;
}
#lorem > p {
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 80px;
  margin-right: 60px;
  position: relative;
  bottom: 40px;
  font-weight: lighter;
  line-height: 25px;
}

#click {
  background-color: #ff7070;
  color: white;
  border: none;
  height: 45px;
  width: 230px;
  margin-left: 80px;
  margin-top: 40px;
  font-size: 15px;
}
body{
    background-color: rgb(255, 255, 255)
}
main{
    margin-bottom: 13px;
    background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
}
section {
  background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
  margin-top: 20px;
  height: 102vh;
}

#image2 {
  height: 200px;
  width: 250px;
  position: relative;
  top: 140px;
  left: 110px;
}

#image3 {
  height: 200px;
  width: 250px;
  position: relative;
  top: 230px;
  left: 110px;
}

#image4 {
  height: 420px;
  width: 260px;
  position: relative;
  bottom: 120px;
  left: 380px;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 700px;
  bottom: 180px;
  width: 500px;
  height: 250px;
  background-color: #ff7070;
  flex-direction: column;
}

section > div {
  height: 130px;
}


#box > p {
  font-family: Arial, Helvetica, sans-serif;
}

#lorem_ipsum {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 30px;
  top: 24px;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 2px;
  position: absolute;
  left: 30px;
}

#img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 20px;
  gap: 10px;
}

@media all and (max-width: 1024px) {
  #lorem > h1 {
    position: relative;
    bottom: 40px;
  }

  #lorem > p {
    position: relative;
    top: 10px;
    width: 461px;
  }

  nav {
    width: 1200px;
  }

  #click {
    position: relative;
    top: 30px;
  }

  html {
    width: 1200px;
  }

  #box {
    width: 400px;
    height: 250px;
  }

  #title {
    font-size: 45px;
  }
  section {
    background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
    margin-top: 20px;
    height: 107vh;
  } 
}


@media all and (min-width: 376px) and (max-width: 425px) {
  #box {
    position: relative;
    bottom: -92px;
    left: 752px;
    width: 400px;
    height: 250px;
  }

  #image2 {
    height: 263px;
    width: 335px;
    position: relative;
    top: 334px;
    left: 63px;
  }

  #image3 {
    height: 263px;
    width: 335px;
    position: relative;
    top: 483px;
    left: 63px;
  }

  #image4 {
    height: 534px;
    width: 280px;
    position: relative;
    bottom: -74px;
    left: 421px
  }
  #lorem > h1 {
    font-size: 60px;
  }

  #lorem > p {
    font-size: 25px;
    line-height: 30px;
  }
  section {
    background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
    margin-top: 20px;
    height: 1220px;
  } 
}

@media all and (min-width: 321px) and (max-width: 375px) {
  #image1 {
    height: 1200px;
  }

  #click {
    height: 65px;
    width: 250px;
    font-size: 24px;
  }
  nav {
    padding: 40px;
  }

  
   section {
    background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
    margin-top: 20px;
    height: 1170px;
  } 

  #box {
    
    position: relative;
    bottom: -90px;
    left: 752px;
    width: 400px;
    height: 250px;
  }

  #image2 {
    height: 263px;
    width: 335px;
    position: relative;
    top: 320px;
    left: 63px;
  }

  #image3 {
    height: 263px;
    width: 335px;
    position: relative;
    top: 483px;
    left: 63px;
  }

  #image4 {
    height: 560px;
    width: 280px;
    position: relative;
    bottom: -55px;
    left: 421px
  }
}

@media all and (min-width: 0px) and (max-width: 320px) {
  #image1 {
    height: 900px;
  }

  #click {
    height: 65px;
    width: 250px;
    font-size: 24px;
  }
  nav {
    padding: 40px;
  }

  #image2 {
    height: 350px;
    width: 420px;
    position: relative;
    top: 130px;
    left: 210px;
  }

  #image3 {
    height: 350px;
    width: 420px;
    position: relative;
    top: 370px;
    left: 210px;
  }

  #image4 {
    height: 700px;
    width: 390px;
    position: relative;
    bottom: 120px;
    left: 680px;
  }

  #box {
    position: relative;
    top: 550px;
    left: 300px;
    width: 550px;
    height: 300px;
  }

  #lorem_ipsum {
    font-size: 28px;
  }

  #img {
    font-size: 28px;
  }
  section {
    background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
    /* background-color: red; */
    margin-top: 20px;
    height: 220vh;
  }
}

@media all and (min-width: 1025px) and (max-width: 1175px) {
  #lorem > h1 {
    position: relative;
    bottom: 40px;
  }

  #lorem > p {
    position: relative;
    top: 10px;
    width: 461px;
  }

  nav {
    width: 1200px;
  }

  #click {
    position: relative;
    top: 30px;
  }

  html {
    width: 1200px;
  }

  #box {
    width: 400px;
    height: 250px;
  }

  #title {
    font-size: 45px;
  }
  section {
    background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
    margin-top: 20px;
    height: 690px;
  }
}

@media all and (min-width: 424px) and (max-width: 767px) {
    #box {
        position: relative;
        bottom: 10px;
        left: 752px;
        width: 400px;
        height: 250px;
      }
    
      #image2 {
        height: 263px;
        width: 335px;
        position: relative;
        top: 220px;
        left: 63px;
      }
    
      #image3 {
        height: 263px;
        width: 335px;
        position: relative;
        top: 383px;
        left: 63px;
      }
    
      #image4 {
        height: 560px;
        width: 280px;
        position: relative;
        bottom: 40px;
        left: 421px
      }
  #lorem > h1 {
    font-size: 60px;
  }

  #lorem > p {
    font-size: 25px;
    line-height: 30px;
  }

  section {
    background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
    margin-top: 20px;
    height: 950px;
  }
}


@media all and (min-width: 1176px) and (max-width: 1430px) {
    section {
        background: linear-gradient(to right, #fef6b8, #ffd1d1, #fa9ff1);
        margin-top: 20px;
        height: 684px;
      }
  }